.LoadMoreButton {
	background-color: transparent;
	border: none;
	display: block;
	margin: 0;
	position: relative;
	padding: 0;
	width: 100%;
}

.LoadMoreButton:not(.loading) {
	cursor: pointer;
}

.LoadMoreButton>span {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	height: 2em;
	margin: auto;
	padding: 0;
	width: 4em;
}

.LoadMoreButton.loading>span {
	opacity: .5;
	animation-name: fade-in-loading-animation;
	animation-duration: 1s;
	background-image: url("../img/loading.svg");
}

@keyframes fade-in-loading-animation {
	from {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	to {
		opacity: 50%;
	}
}

.LoadMoreButton:not(.loading)>span {
	opacity: .5;
	background-image: url('../img/load-more.svg');
}

.LoadMoreButton:not(.loading):hover>span {
	opacity: 1;
}
