.NetspeakCorpusSelector {
	padding: 0;
	display: table;

	.wrapper {
		position: relative;

		button {
			background-color: transparent;
			font-size: inherit;
			border: 1px solid #bbb;
			cursor: pointer;
			display: inline-block;
			margin-left: 0.5em;
			padding: 0.5em 0.75em;

			&.selected {
				background-color: #eee;
				border-color: #888;
			}
			&:hover {
				background-color: #eee;
				color: #000;
			}
			&.unavailable {
				color: #888;
			}
		}
	}
}
