.NetspeakSearch {
	font-size: 100%;

	& > .wrapper {
		border-bottom: 1px solid #bbb;
		border-left: 1px solid #bbb;
		border-right: 1px solid #bbb;
	}

	/* Search bar */

	& > .title-bar-wrapper {
		font-size: 110%;
		padding: 0.5em;
		line-height: 1.5em;
		border-top: 1px solid #bbb;
		color: #444;

		span.beta {
			color: #888;
			user-select: none;
			margin-right: 0.4em;
		}
	}

	& > .search-bar-wrapper {
		border-top: 1px solid #bbb;
		font-size: 110%;

		input {
			background-color: transparent;
			border: none;
			display: block;
			box-sizing: border-box;
			width: 100%;
			padding: 0.5em;
			line-height: 1.5em;
			font-family: var(--input-font-family, inherit);
			font-size: inherit;

			&::-ms-clear {
				display: none;
			}
		}

		.TransparentButton {
			padding: 0.5em 0.25em;

			--transparent-button-icon-size: 1.25em;
		}

		table td:first-child {
			width: 100%;
		}

		table,
		tbody,
		tr,
		td {
			margin: 0;
			padding: 0;
			border-spacing: 0;
		}
	}

	/* History */

	.history-wrapper > button {
		background-color: transparent;
		border: none;
		display: block;
		font-size: inherit;
		width: 100%;
		padding: 0;
		margin: 0;
		& > div {
			border-top: 1px solid #ddd;
			cursor: pointer;
			padding: 0.33em 0.5em;
			&:hover {
				text-decoration: underline;
			}
		}
		&:first-child > div {
			border-top: none;
		}
	}

	/* Warning & errors */

	& > .warnings-wrapper {
		background-color: #eda;
	}

	& > .errors-wrapper {
		background-color: #eaa;
	}

	& > .warnings-wrapper,
	& > .errors-wrapper {
		& > div {
			padding: 1em;

			& > p,
			& > details {
				margin: 1em 0;
			}

			& > :first-child {
				margin-top: 0;
			}
			& > :last-child {
				margin-bottom: 0;
			}

			pre {
				font-family: monospace;
				white-space: pre-wrap;
			}
		}
	}

	/* Popup fix */

	.popup-overlay {
		z-index: 1000;
	}
	.popup-content {
		z-index: 1002 !important;
	}

	/* Other */

	& > .no-phrases-wrapper > p {
		margin: 0;
		padding: 0.3em 0.5em;
	}
}
