html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    background-color: #FFF;
    border-collapse: collapse;
    display: table;
    font-family: Verdana, Geneva, sans-serif;
}

div#content {
    max-width: 750px;
    margin: 0 auto;
    padding: 0;
}

div#footer {
    display: table-row;
    vertical-align: bottom;
    height: 1px;
}

i18n-preference {
    display: none;
}