.NetspeakHeader {
	background: #323232;
	display: block;
	padding: 0;
	border-bottom: 1px solid #727272;
	position: relative;

	.content {
		max-width: 800px;
		padding: 19px 0;
		box-sizing: border-box;
		margin: 0 64px;
	}

	.logo {
		display: block;
		float: left;
		height: 32px;
		width: 121px;
		background-image: url("../img/netspeak-path-white-121x32.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.slogan {
		color: rgba(255, 255, 255, 0.8);
		white-space: nowrap;
		display: block;
		float: left;
		font-size: 15px;
		padding-top: 10px;
		padding-left: 16px;
	}

	@media screen and (max-width: 500px) {
		& {
			height: 48px;
		}
		.content {
			padding: 0;
		}
		.logo {
			display: block;
			float: none;
			margin: auto;
			height: 48px;
			width: 182px;
		}
		.slogan {
			display: none;
		}
	}
}
