.NetspeakFooter {
	display: block;
	background-color: #f8f8f8;
	font-size: 90%;
	color: #666;
	padding: 2em 3em;
	line-height: 1.4;

	a {
		color: inherit;
		text-decoration: none;

		&.current-lang,
		&:hover {
			text-decoration: underline;
		}
	}

	#netspeak-points {
		display: inline;
	}

	#language-section {
		display: inline;
	}

	#webis-copyright {
		float: right;
	}

	.bullet {
		margin: 0 .5em;
	}

	.pipe {
		padding: 0 15px;
	}

	a.img {
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		margin: 0 .2em;
	}
	a.img > span {
		display: inline-block;

		width: 100%;
		height: 100%;

		opacity: .2;
		background-size: 100%;
	}
	a.img:hover > span {
		opacity: .3;
	}

	a#github > span {
		background-image: url("../img/github.svg");
	}
	a#twitter > span {
		background-image: url("../img/twitter.svg");
	}
	a#youtube > span {
		background-image: url("../img/youtube.svg");
	}

	@media screen and (max-width: 750px) {
		& {
			padding: 2em;
		}
		#netspeak-points,
		#language-section,
		#webis-copyright {
			display: block;
			float: none;
			text-align: center;
			padding: 0.5em 0;
		}
		.pipe {
			display: none;
		}
	}
}
