.SearchPage {
	#content {
		max-width: 1000px;
		margin: 0 64px;
		padding: 3em 0;
	}

	.section {
		float: left;
		width: 40%;
		margin-right: 5%;
		padding: 0 0 3em;
	}

	.NetspeakCorpusSelector {
		margin: 0 0 2em auto;
	}

	.AdditionalViewSelector {
		margin: 0 0 2em auto;
	}

	@media screen and (max-width: 1256px /* (500px + 64px * 2) * 2 */) {
		#content {
			max-width: 1000px;
			margin: 0 auto;
		}
	}

	@media screen and (max-width: 1000px) {
		#content {
			margin: 0;
		}

		.NetspeakCorpusSelector {
			margin: 0 1em 2em auto;
		}

		.NetspeakSearch {
			border-left: none;
			border-right: none;
		}
	}
}
