.SearchPage {

	.flexbox-container {
		align-items: start;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 1700px;
		flex: 0 1 auto;
		border: 1px #bbb solid;
		// background-color: #f8f8f8;
	}
	
	#content {
		max-width: 1200px;
		margin: 0 64px;
		padding: 3em 0;
	}

	.corpusSelecterWrapper{
		max-width: 500px;
	}
	.NetspeakCorpusSelector {
		margin: 0 0 2em auto;
	}
	.search-wrapper {
		flex: 0 1 500px;
	}
	
	@media screen and (max-width: 1149px) {
		.flexbox-container {
			max-width: 500px;
		}
	}

	@media screen and (max-width: 628px /* 500px + 64px * 2 */) {
		#content {
			max-width: 500px;
			margin: 0 auto;
		}
	}

	@media screen and (max-width: 500px) {
		#content {
			margin: 0;
		}

		.NetspeakCorpusSelector {
			margin: 0 1em 2em auto;
		}

		.NetspeakSearch {
			border-left: none;
			border-right: none;
		}
	}
}
